<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<title>Rumor detection</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	</head>
	<body>
		<!-- header start........... -->
		<header>
			<div class="container">
				<div class="main">
					<div class="logo">
						<a href="http://127.0.0.1:5000/"><h2>Predict</h2></a>
					</div>
					<nav class="menu">
						<ul>
							<li><a href="http://127.0.0.1:5000/">Home</a></li>
							<li><a href="http://127.0.0.1:5000/link">Link</a></li>
							<li><a href="http://127.0.0.1:5000/about">About Us</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
		<div class="container">
			<div class="part">
				<div class="fast_part">
					<h1>Our team Members</h1>
				</div>
				<div class="second_part">
					<img src="../static/css/we.PNG" alt="team">
				</div>
			</div>
        </div>
    </body>